.img{
  background-image: url(../../assets/chat.png);
  background-size: cover;
  height: 100vh;
  font-family: Roboto;
}
h3{
  margin-top: 0;
  padding: 10% 0;
}

textarea{
  width: 302px;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 0 10px 40px 0 rgba(190, 190, 206, 0.5);
	font-family: Roboto;
	font-size: 20px;
	letter-spacing: -0.6px;
	text-align: left;
	color: #c7c7d3;
}

form{
  position:relative;
  top:94%;
  margin-top: 2%;
}

.chatbox:nth-child(odd){
  width: 180px;
	height: 60px;
	border-radius: 5px;
	background-color: #02ad58;
	box-shadow: 0 10px 40px 0 rgba(190, 190, 206, 0.5);
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#FFF;
}


.chatbox:nth-child(even){
  width: 180px;
	height: 60px;
  border-radius: 5px;
  background-color: #0074cd;
	box-shadow: 0 10px 40px 0 rgba(110, 110, 123, 0.5);
  margin: 5% 0 5% 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#FFF;
}

.glyphicon-send{
  position:relative;
  left:45%;
  top: -50px;
  border: 1px solid #c7c7d3;
}

.glyphicon-arrow-left{
  font-size: 28px;
  margin-left: -77%;
  margin-top: 1%;
}

@media (min-width: 600px) {
  .img{
    width: 375px;
    height: 776px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 5%;
    margin-top: 1.5%;
    padding:10px;

  }
}
