<p>
  chat works!
</p>

   <div *ngIf="message">
      <div *ngFor=" let m of message">
    {{m.message}}
  </div>
</div>



<form >
  <input [(ngModel)]="myname" name="myname" type="hidden" value="John Doe"/>
  <textarea rows="4" cols="50" [(ngModel)]="messagetosend" name="message">

</textarea>

 <div *ngIf="user.role=='Student'">
    <button (click)="send(this.user._id,messagetosend,this.user.refToBrother,myname)">Send</button>
</div>
<div *ngIf="user.role=='Tutor'">
   <button (click)="bigBrotherSend(this.user._id,messagetosend,this.user.refToBrother,myname)">Send</button>
</div>

</form>
