.img{
  background-image: url(../../assets/profile.png);
  background-size: cover;
  height: 100vh;
  font-family: Roboto;
  background-size: cover;
}


@media (min-width: 600px) {
  .img{
    width: 375px;
    height: 776px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 5%;
    margin-top: 1.5%;
    padding:10px;

  }
}
