.img{
  background-image: url(../../../assets/datos.png);
  height: 100vh;
  font-family: Roboto;
  background-size: cover;
}
h3{
  margin:0;
  padding-top: 5%;
}

.glyphicon{
  font-size: 28px;
  margin-left: -77%;
  margin-top: 1%;
}
p{
  font-size: 22px;
  margin-top: 20%;
}

@media (min-width: 600px) {
  .img{
    width: 375px;
    height: 776px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 5%;
    margin-top: 1.5%;
    padding:10px;

  }
}
