
.img{
  background-image: url(../../assets/index.png);
  height: 100vh;
  font-family: Roboto;
  background-size: cover;
}
.btn{
  margin-bottom:10%;
  background-color: black;
  color:#FFF;
  font-size: 14px;
	line-height: 1.14;
  width: 120px;
	height: 40px;
	border-radius: 100px;
	background-color: #000000;
}

.text{
  margin:10% 13% 10% 13%;
  font-size: 36px;
	line-height: 1.11;
  margin-top: 0;
  padding-top: 27%;
}

@media (min-width: 600px) {
  .img{
    width: 375px;
    height: 776px;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 5%;
    margin-top: 1.5%;
    padding:10px;

  }
}
