.img{
  background-image: url(../../assets/login.png);
  height: 100vh;
  font-family: Apercu;
  background-size: cover;
}
.btn{
  margin-bottom:10%;
  background-color: black;
  color:#FFF;
  font-size: 14px;
	line-height: 1.14;
  float: right;
  margin-right: 10%;
  width: 110px;
	height: 40px;
	border-radius: 100px;
	background-color: #000000;
}
.login{
  padding-top: 30%;
}
input{
  margin: 10% 0;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  height:40px;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
input textarea { background: #FFF; }
.glyphicon{
  font-size: 28px;
  margin-left: -77%;
  margin-top: 1%;
}
