
.img{
  background-image: url(../../assets/profile.png);
  height: 100vh;
  font-family: Apercu;
  background-size: cover;
}
.myprofileHeader {
	font-family: Apercu;
	font-size: 44px;
	font-weight: bold;
	line-height: 1.32;
	text-align: left;
	color: #000000;
  text-align: center;
}

.home{
  list-style-type: none;
  width: 329px;
	height: 348px;
	font-family: Lato;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.32;
	text-align: left;
	color: #000000;
  padding-top: 40%;
}
.home a{
  color:#000;
}
.home a:hover {
    color: #0074cd;
}
h2{
  margin:0;
  padding-top: 2%;
}

.glyphicon{
  font-size: 28px;
  margin-left: -77%;
  margin-top: 1%;
}
