<div class="img">
  <button (click)="cancel()">Back</button>
<h2 class="myprofileHeader">Mi Perfil</h2>
<div *ngIf="!user">
  <h2>NO USER LOGGED IN</h2>
</div>
<div *ngIf="pendingmessage" class="pending">
<p>Tienes un mensaje nuevo</p>
</div>

<div *ngIf="user">

  <!-- <pre> {{ user | json }} </pre> -->
  <ul class="home">
<li><a [routerLink]="['/profile']">Mis datos</a></li>
<li><a [routerLink]="['/mail']">Reportar</a></li>
<li><a [routerLink]="['/todo']">To Do</a></li>
<li><a [routerLink]="['/points']">Puntos</a></li>
  </ul>

<div *ngIf="user.role=='Student'&& !user.refToBrother">
<button (click)="getabro(this.user._id)">Get a brother</button>
</div>
</div>
</div>
