
.img{
  background-image: url(../../assets/profile.png);
  height: 100vh;
  font-family: Apercu;
  background-size: cover;
}
.myprofileHeader {
	font-family: Apercu;
	font-size: 44px;
	font-weight: bold;
	line-height: 1.32;
	text-align: left;
	color: #000000;
  text-align: center;
}

.home{
  list-style-type: none;
  width: 329px;
	height: 348px;
	font-family: Lato;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.32;
	text-align: left;
	color: #000000;
  padding-top: 40%;
}
.home a{
  color:#000;
}
.home a:hover {
    color: #0074cd;
}
h2{
  margin:0;
  padding-top: 2%;
}

.glyphicon{
  font-size: 28px;
  margin-left: -77%;
  margin-top: 1%;
}

.pending{
  width: 250px;
	height: 100px;
	border-radius: 5px;
	background-color: #02ad58;
	box-shadow: 0 0 40px 0 rgba(110, 110, 123, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color:#FFF;
  margin-left: 15%;
}
