.img{
  background-image: url(../../../assets/points.png);
  height: 100vh;
  font-family: Apercu;
  background-size: cover;
}
.glyphicon{
  font-size: 28px;
  margin-left: -77%;
  margin-top: 1%;
}
h3{
  margin-top: 0;
}
