<div class="imgb">
  <button (click)="cancel()" class="glyphicon glyphicon-arrow-left"></button>
  <h3>Cámara</h3>

<div *ngIf="selfie" class="pic">
<img [src]="urlimg + selfie.selfie" class="img"/>
<div *ngIf="personEmotion" class="emotion">
<p>{{personEmotion.name}}</p>
</div>
</div>
<button (click)="getPersonEmotion('urlimg + selfie.selfie')" class="glyphicon glyphicon-record"></button>
<div *ngIf="personEmotion" class="emotion">
<p>{{personEmotion.name}}</p>
</div>

<form>
  <fieldset>
     <input type="file" name="file"  id="file" ng2FileSelect [uploader]="uploader" />
  </fieldset>
  <button (click)="submit(this.user.refToBrother,this.user._id)" class="btn"> Enviar </button>
</form>
</div>
