<div class="imgb">
  <button (click)="cancel()" class="glyphicon glyphicon-arrow-left"></button>
  <h3>Cámara</h3>

<div *ngIf="selfie" class="pic">
<img [src]="urlimg + selfie.selfie" class="img"/>
</div>
<button (click)="getPersonEmotion('http://dreamicus.com/data/face/face-06.jpg')" class="glyphicon glyphicon-record"></button>
<div *ngIf="personEmotion">
<p>Main emotion: {{personEmotion.name}}</p>
</div>

<form>
  <fieldset>
     <input type="file" name="file"  id="file" ng2FileSelect [uploader]="uploader" />
  </fieldset>
  <button (click)="submit(this.user.refToBrother,this.user._id)"> submit </button>
</form>
</div>
