.hidden{
  visibility: hidden;
}
.img{
  width:50%;
  height:200px;
}
.imgb{
  background-image: url(../../assets/img1.png);
  height: 100vh;
  font-family: Apercu;
}
h3{
  margin:0;
  padding-top: 5%;
  margin-bottom: 30%;
}

.pic{
  width:100%;
  background-color: #B9EEFC;
}
.imgb{
  background-image: url(../../assets/selfie.png);
  background-size: cover;
  height: 100vh;
  font-family: Apercu;
  background-size: cover;
}
.glyphicon-record{
  font-size: 33px;
  color: green;
}

.glyphicon-arrow-left{
  font-size: 28px;
  margin-left: -77%;
  margin-top: 1%;
}
