<form >
  <h2> Edit</h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="newUser.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="newUser.password" name="password"/>

  <label> Role </label>
  <input type="radio" [(ngModel)]="newUser.role" name="role" value="Tutor"> Tutor<br>
  <input type="radio" [(ngModel)]="newUser.role" name="role" value="Student"> Student<br>

  <label>Picture</label>

  <input type="file" name="single" ng2FileSelect [uploader]="uploader" />

  <button (click)="submit()"> Edit </button>
</form>
